#about {
    .wrapper {
        gap: 25px;
        padding-top: 65px;
        padding-bottom: 65px;
        align-items: flex-start;
        grid-template-columns: repeat(2, 1fr);
        .about-content {
            .headings {
                h2 {
                    font-size: 32px;
                }
            }
            .about-text {
                margin-top: 25px;
                margin-bottom: 25px;
                p {
                    line-height: 25px;
                    margin-bottom: 6px;
                }
            }
            .btn-area {
                a {
                    color: $strong_white;
                }
            }
        }
        .languages {
            align-self: center;
            justify-self: center;
            ul {
                display: grid;
                grid-template-columns: repeat(4, 120px);
                li {
                    width: 120px;
                    height: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 48px;
                        height: auto;
                        max-height: 48px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    #about {
        .wrapper {
            gap: 45px;
            grid-template-columns: 1fr;
            .languages { 
                grid-template-columns: repeat(3, 100px);
                ul {
                    li {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #about {
        .wrapper {
            gap: 45px;
            grid-template-columns: 1fr;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #about {
        .wrapper {
            gap: 45px;
            grid-template-columns: 1fr;
        }
    }
}