#about {
    #content { 
        min-height: 100vh;
        justify-content: center;
        .titles {
            h2 {
                font-size: 42px;
                text-align: left;
                position: relative;
                padding: 0 0 0 80px;
                &:before {
                    top: 50%;
                    left: 0;
                    content: "";
                    opacity: 0.8;                 
                    width: 70px;
                    height: 6px;
                    z-index: -1000;
                    display: block;
                    position: absolute;
                    transform: translateY(-50%);
                    background-color: #7f5af0;
                }
            }
        }
        .apresentation,
        .apresentation-text {
            width: 40%;
            padding: 115px 25px;
            align-self: center;
        }
        .apresentation {
            text-align: right;
            h3 {
                font-size: 62px;
                span {
                    display: block;
                }
            }
        }
        .apresentation-text {
            p {
                margin: 0 0 7px 0;
                line-height: 25px;
            }
        }
    }
}