#footer {
    #content {
        min-height: 30vh;
        .footer-content-left,
        .footer-content-right {
            width: calc(50% - 60px);
        }
        .footer-content-left {
            .titles {
                padding: 35px 0;
            }
            .description {
                p {
                    line-height: 25px;
                }
            }
            .my-contact {
                padding: 35px 0;
                ul {
                    list-style: none;
                    li {
                        display: block;
                        margin: 9px 0;
                        a {
                            display: flex;
                            align-items: center;
                            svg {
                                margin: 0 10px 0 0;
                                color: #fffffe;
                            }
                        }
                    }
                }
            }
        }
        .footer-credits {
            width: 100%;
            padding: 15px 0;
            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}