#footer {
    background-color: $primary_color;
    .wrapper {
        padding: 10px 0;
        min-height: 55px;
        align-items: center;
        align-content: center;
        .texts {
            p {
                font-size: 14px;
                text-align: center;
                color: $strong_white;
            }
        }
    }
}