#header {
    .wrapper {
        height: 75px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        .logo-area,
        .menu-area {
            width: auto;
        }
        .logo-area { 
            a {
                font-size: 32px;
                font-weight: 700;
                font-family: 'Josefin Sans', sans-serif;
                letter-spacing: -4px;
                display: inline-block;
                span {
                    font-size: 48px;
                    color: $details;
                }
            }
        }
        .menu-area {
            padding: 5px 0 0 0;
            justify-self: flex-end;
            a {
                font-size: 16px;
                font-weight: 400;
                color: #333333;
                display: inline-block;
                transition: color 0.4s;
                &:hover {
                    color: $details;
                }
            }
            p {
                display: inline;
                margin: 0 5px;
            }
        }
    }
}