#hero {
    #content{
        row-gap: 25px;
        align-content: center;
        min-height: calc(100vh - 75px);
        grid-template-columns: 1fr;
        .hero-text {
            max-width: 85%;
            .headings {
                h1 {
                    font-size: 58px;
                    color: #FFFFFF;
                    font-family: "Old Standard TT", serif;
                    span {
                        display: block;
                        color: #FCF086;
                    }
                }
            }
        }
        .projects {
            ul {
                display: grid;
                column-gap: 10px;
                grid-template-columns: 1fr 1fr 1fr;
                li {
                    width: 100%;
                    display: grid;
                    border-radius: 4px;
                    border:  1px solid #FCF086;
                    margin: 0 0 20px 0;
                    a, span {
                        font-size: 14px;
                        padding: 7px 20px;
                        text-align: center;
                        display: inline-block;
                        color: #FFFFFF;
                    }
                    a {
                        background-color: #FCF086;
                    }
                }
            }
        }
    }
}