#hero {
    #content{
        min-height: calc(100vh - 75px);
        align-items: center;
        justify-content: center;
        .hero-image {
            align-self: flex-end;
            figure {
                img {
                    width: 320px;
                    height: auto;
                }
            }
        }
        .titles {
            width: 80%;
            padding: 30px 50px;
            h1 {
                font-size: 24px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}