#projects {
    #content {
        .titles {
            h2 {
                font-size: 42px;
                text-align: left;
                position: relative;
                padding: 0 0 0 80px;
                &:before {
                    top: 50%;
                    left: 0;
                    content: "";
                    opacity: 0.8;                 
                    width: 70px;
                    height: 6px;
                    z-index: -1000;
                    display: block;
                    position: absolute;
                    transform: translateY(-50%);
                    background-color: #72757e;
                }
            }
        }
        .project-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 40px 0;
            justify-content: space-between;
            .project-item {                
                width: 100%;
                height: 100vh;
                display: flex;
                flex-wrap: wrap;
                padding: 60px 0;
                justify-content: space-between;
                .project-item-image,
                .project-item-description {
                    width: 49%;
                }
                .project-item-image {
                    background-color: #fffffe;
                }
                .project-item-description {
                    padding: 45px;
                    .titles {
                        h3 {
                            font-size: 22px;
                        }
                    }
                    .project-description {
                        margin: 25px 0 0 0;
                        p {
                            line-height: 25px;
                            margin: 0 0 7px 0;
                        }
                        a.project-link {
                            z-index: 1010;
                            font-size: 18px;
                            color: #fffffe;
                            margin: 25px 0 0 0;                    
                            position: relative;
                            display: inline-block;
                            transition: width 0.4s;
                            &:hover {
                                &:after {
                                    width: 100%;
                                }
                            }
                            &:after {
                                top: 50%;
                                content: "";
                                width: 20%;
                                height: 46px;
                                display: block;
                                z-index: -1000;
                                position: absolute;
                                background-color: #7f5af0;
                                transform: translateY(-50%);
                                transition: width 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }
}