* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

body {
    color: $primary_color;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background-color: transparent;
}

a,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.wrapper {
    width: 100%;
    display: grid;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.headings {
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
        font-weight: 900;
        font-family: "Gilroy", sans-serif;
    }
}

.scroll-to-top-btn {
    right: 25px;
    bottom: 25px;
    width: 64px;
    height: 64px;
    padding: 5px;
    position: fixed;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: $details;
    transition: all 0.25s ease-in-out;
    &.show-btn {
        opacity: 1;
        visibility: visible;
    }
    &.hide-btn {
        opacity: 0;
        visibility: hidden;
    }
    svg {
        width: 34px;
        color: $strong_white;
    }
    &:hover {
        background-color: $hover;
    }
}
